// Font family
$mogra: 'Mogra', cursive;
$oswald: 'Oswald', sans-serif;
$pavanam: 'Pavanam', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Font size
$fs-title: 48px;
$fs-description: 18px;
$fs-description-xs: 24px;
$fs-sub-title: 30px;
$fs-sub-description: 14px;
$fs-sub-description-md: 16px;
$fs-sub-description-xs: 18px;
$fs-btn: 16px;

// Colors
$color-title: #222;
$color-description: #999;
$color-sub-title: #1f3c40;
$color-sub-description: #666;
$color-btn: #fff;
$bg-color-btn: #5dbdb1;