@import 'src/scss/partials/_mixins';
@import 'src/scss/partials/_variables';
@import 'src/scss/partials/_media-queries';

.contacts {
  width: 100%;
  background-image: url('/src/img/contact-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px 15px 250px 15px;

  .phone {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .title,
    .phone-num {
      color: #d34909;
      @include fontSize($fs-title);
      font-family: $pavanam;
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
    }

    .title {
      @include media-sm {
        width: 100%;
      }
    }

    .phone-num {
      margin-left: 10px;

      @include transition(color, .2s, ease-in-out);

      &:hover {
        color: rgb(243, 118, 61);
      }

      @include focus {
        color: rgb(243, 118, 61);
      }

      @include media-sm {
        margin-left: 0;
        @include fontSize(36px);
      }
    }
  }

  .address {
    max-width: 800px;
    margin-bottom: 20px;
    @include fontSize(18px, null, 24px);
    font-family: $open-sans;
    text-align: center;
  }

  .social {
    display: flex;
    margin-bottom: 20px;
    list-style-type: none;

    li {
      margin: 0 5px;

      a {
        width: 40px;
        height: 40px;
        display: block;
        overflow: hidden;
        
        img {
          width: 32px;
          display: block;
          margin: 4px;

          @include transition(all, .2s, ease-in-out);
        }

        &:hover {
          img {
            @include transform(scale(.9));
          }
        }

        @include focus {
          img {
            @include transform(scale(.9));
          }
        }
      }
    }
  }

  .title {
    max-width: 800px;
    margin-bottom: 10px;
    color: #e76122;
    @include fontSize(36px);
    font-family: $pavanam;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }

  .description {
    max-width: 800px;
    margin-bottom: 10px;
    @include fontSize($fs-description, null, $fs-description-xs);
    font-family: $open-sans;
    font-style: italic;
    text-align: center;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    @include media-md {
      flex-wrap: wrap;
    }

    .user-data {
      width: 370px;
      margin-right: 30px;

      @include media-md {
        margin-right: 0;
        margin-bottom: 20px;
      }

      input {
        width: 100%;
        height: 45px;
        border: none;
        border-radius: 3px;
        font-family: $open-sans;
        @include fontSize(14px, 16px, 18px);
        text-indent: 10px;
        line-height: 45px;

        @include focus();

        &:nth-child(2) {
          margin: 20px 0;
        }
      }
    }

    #user-message {
      width: 370px;
      height: 175px;
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      font-family: $open-sans;
      @include fontSize(14px, 16px, 18px);
      resize: none;
      @include focus();
    }

    .btn-send-email {
      width: 170px;
      height: 45px;
      position: absolute;
      bottom: -65px;
      left: calc(50% - 85px);
      border: none;
      border-radius: 5px;
      background-color: $bg-color-btn;
      color: $color-btn;
      @include fontSize($fs-btn);
      font-family: $open-sans;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;

      @include transition(all, .2s, ease-in-out);

      &:hover {
        background-color: $bg-color-btn-hover;
      }

      @include focus {
        text-shadow: 1px 1px 4px #222;
      }
    }
  }
}