@import 'src/scss/partials/_mixins';
@import 'src/scss/partials/_variables';

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 15px;
  background-image: url('/src/img/info-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .title {
    max-width: 800px;
    @include fontSize($fs-title);
    font-family: $pavanam;
    text-transform: uppercase;
    text-align: center;
  }

  .description {
    position: relative;
    max-width: 800px;
    @include fontSize($fs-description, null, $fs-description-xs);
    font-family: $open-sans;
    text-align: center;

    &::after {
      content: '';
      width: 230px;
      height: 7px;
      position: absolute;
      left: calc(50% - 115px);
      bottom: -40px;
      background-image: url('/src/img/decoration-shape-info.png');
    }
  }
}