@import 'src/scss/partials/_fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  position: relative;
  color: #fff;
}

// one gradient for two sections: portfolio and about
.bg-gradient-wrapper {
  background-image: linear-gradient(140deg, #f0f0f0 55%, #fff 45%);
}