@import 'src/scss/partials/_mixins';
@import 'src/scss/partials/_variables';
@import 'src/scss/partials/_media-queries';

.portfolio {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 15px;
  overflow: hidden;

  .title {
    max-width: 800px;
    position: relative;
    margin-bottom: 25px;
    color: $color-title;
    @include fontSize($fs-title);
    font-family: $pavanam;
    text-transform: uppercase;
    text-align: center;

    &::before {
      content: '';
      width: 150px;
      height: 20px;
      position: absolute;
      top: 19px;
      left: -155px;
      background-image: url('/src/img/decoration-shape-left.png');

      @include media-xs {
        display: none;
      }
    }

    &::after {
      content: '';
      width: 150px;
      height: 20px;
      position: absolute;
      top: 19px;
      right: -160px;
      background-image: url('/src/img/decoration-shape-right.png');

      @include media-xs {
        display: none;
      }
    }
  }

  .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;

    button {
      margin: 5px;
      padding: 15px 25px;
      border: none;
      border-radius: 3px;
      background-color: transparent;
      color: #999;
      @include fontSize(14px, 18px);
      font-family: $open-sans;
      cursor: pointer;

      @include transition(all, .2s, ease-in-out);

      &:hover {
        background-color: #f2b63e;
        color: #fff;
      }
    }
  }

  .works {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include media-xs {
      padding-bottom: 5px;
    }

    .btn {
      width: 50px;
      height: 50px;
      position: absolute;
      border: none;
      border-radius: 50%;
      background-color: #fff;
      overflow: hidden;
      cursor: pointer;

      &:disabled {
        opacity: .3;
        cursor: default;
      }

      @include media-xs {
        width: 40px;
        height: 40px;
      }
  
      svg {
        fill: #5dbdb1;
      }
    }
  
    .btn-prev {
      top: calc(50% - 25px);
      left: 0;

      @include media-xs {
        top: auto;
        bottom: -40px; 
        left: calc(50% - 45px);
      }
    }
  
    .btn-next {
      top: calc(50% - 25px);
      right: 0;

      @include media-xs {
        top: auto;
        bottom: -40px;
        right: calc(50% - 45px);
      }
    }

    .preview-wrapper {
      width: calc(100% - 120px);
      overflow: hidden;
      position: relative;
      padding-top: calc(100% / 2 - 60px);

      @include transition(all, 1s, ease-in-out);

      @include media-lg {
        padding-top: calc(100% / 3 * 2 - 80px);
      }

      @include media-md {
        padding-top: calc(100% - 120px);
      }

      @include media-xs {
        width: 100%;
        padding-top: 100%;
      }
    }

    .list-of-previews {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;

      @include transition(all, 1s, ease-in-out);

      li {
        min-width: calc(100% / 4 - 10px);
        position: relative;
        margin: 5px;
        padding-top: calc(100% / 4 - 10px);
        cursor: pointer;

        @include transition(all, 1s, ease-in-out);

        @include media-lg {
          min-width: calc(100% / 3 - 10px);
          padding-top: calc(100% / 3 - 10px);
        }

        @include media-md {
          min-width: calc(100% / 2 - 10px);
          padding-top: calc(100% / 2 - 10px);
        }

        @include media-xs {
          min-width: 100%;
          margin: 0;
          padding-top: 100%;
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          @include objectFit(cover);
        }
      }
    }
  }
}