.portfolio {
  width: 100%;
  background-image: linear-gradient(140deg, rgb(240, 240, 240) 75%, rgb(255, 255, 255) 25%);
}

.portfolio-wrapper {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px 15px;

  .title {
    position: relative;
    margin-bottom: 50px;
    font-size: 48px;
    font-family: 'Pavanam', sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;

    &::before {
      content: '';
      width: 150px;
      height: 20px;
      position: absolute;
      top: 19px;
      left: -155px;
      background-image: url('/src/img/decoration-shape-left.png');
    }

    &::after {
      content: '';
      width: 150px;
      height: 20px;
      position: absolute;
      top: 19px;
      right: -160px;
      background-image: url('/src/img/decoration-shape-right.png');
    }
  }

  .category {
    list-style-type: none;
    display: flex;

    button {
      padding: 15px 25px;
      border: none;
      border-radius: 3px;
      background-color: transparent;
      color: rgb(153, 153, 153);
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      cursor: pointer;

      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;

      &:hover {
        background-color: rgb(242, 182, 62);
        color: rgb(255, 255, 255);
      }
    }
  }

  .slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      min-width: 55px;
      height: 55px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .btn-left {
      background-image: url('/src/img/arrow-left.png');
    }

    .btn-right {
      background-image: url('/src/img/arrow-right.png');
    }

    .preview-list {
      width: 100%;
      max-width: 990px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 20px;
      list-style-type: none;

      li {
        width: calc(100% / 4 - 20px);
        position: relative;
        margin: 10px;
        padding-top: calc(100% / 4 - 20px);
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
    }
  }
}