@import 'src/scss/partials/_media-queries';

.portfolio {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 15px;
  overflow: hidden;

  .title {
    max-width: 800px;
    position: relative;
    margin-bottom: 25px;
    color: rgb(51, 51, 51);
    font-size: 48px;
    font-family: 'Pavanam', sans-serif;
    text-transform: uppercase;
    text-align: center;

    &::before {
      content: '';
      width: 150px;
      height: 20px;
      position: absolute;
      top: 19px;
      left: -155px;
      background-image: url('/src/img/decoration-shape-left.png');

      @include media-xs {
        display: none;
      }
    }

    &::after {
      content: '';
      width: 150px;
      height: 20px;
      position: absolute;
      top: 19px;
      right: -160px;
      background-image: url('/src/img/decoration-shape-right.png');

      @include media-xs {
        display: none;
      }
    }
  }

  .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;

    button {
      margin: 5px;
      padding: 15px 25px;
      border: none;
      border-radius: 3px;
      background-color: transparent;
      color: rgb(153, 153, 153);
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      cursor: pointer;

      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;

      @include media-md {
        font-size: 18px;
      }

      &:hover {
        background-color: rgb(242, 182, 62);
        color: rgb(255, 255, 255);
      }
    }
  }

  .gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include media-xs {
      padding-bottom: 5px;
    }

    .btn {
      width: 50px;
      height: 50px;
      position: absolute;
      border: none;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      cursor: pointer;

      @include media-xs {
        width: 40px;
        height: 40px;
      }
  
      svg {
        fill: rgb(93, 189, 177);
  
        -webkit-transition: fill .2s ease-in-out;
        -moz-transition: fill .2s ease-in-out;
        -ms-transition: fill .2s ease-in-out;
        -o-transition: fill .2s ease-in-out;
        transition: fill .2s ease-in-out;
      }
    }
  
    .btn-left {
      top: calc(50% - 25px);
      left: 0;

      @include media-xs {
        top: auto;
        bottom: -40px; 
        left: calc(50% - 45px);
      }
    }
  
    .btn-right {
      top: calc(50% - 25px);
      right: 0;

      @include media-xs {
        top: auto;
        bottom: -40px;
        right: calc(50% - 45px);
      }
    }

    .list-of-previews {
      width: calc(100% - 120px);
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;

      @include media-xs {
        width: 100%;
      }

      li {
        width: calc(100% / 4 - 10px);
        position: relative;
        margin: 5px;
        padding-top: calc(100% / 4 - 10px);
        cursor: pointer;

        @include media-lg {
          width: calc(100% / 3 - 10px);
          padding-top: calc(100% / 3 - 10px);

          &:nth-child(n+7) {
            display: none;
          }
        }

        @include media-md {
          width: calc(100% / 2 - 10px);
          padding-top: calc(100% / 2 - 10px);

          &:nth-child(n+5) {
            display: none;
          }
        }

        @include media-xs {
          width: 100%;
          margin: 0;
          padding-top: 100%;

          &:not(:first-child) {
            display: none;
          }
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
    }
  }
}