@import 'src/scss/partials/_mixins';
@import 'src/scss/partials/_variables';
@import 'src/scss/partials/_media-queries';

.services {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 15px;
  overflow: hidden;

  > .title {
    max-width: 800px;
    position: relative;
    color: $color-title;
    @include fontSize($fs-title);
    font-family: $pavanam;
    text-align: center;
    text-transform: uppercase;

    &::before {
      content: '';
      width: 150px;
      height: 20px;
      position: absolute;
      top: 19px;
      left: -155px;
      background-image: url('/src/img/decoration-shape-left.png');

      @include media-xs {
        display: none;
      }
    }

    &::after {
      content: '';
      width: 150px;
      height: 20px;
      position: absolute;
      top: 19px;
      right: -160px;
      background-image: url('/src/img/decoration-shape-right.png');

      @include media-xs {
        display: none;
      }
    }
  }

  > .description {
    max-width: 800px;
    margin-bottom: 40px;
    color: $color-description;
    @include fontSize($fs-description, null, $fs-description-xs);
    font-family: $open-sans;
    text-align: center;
  }

  .cards {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;

    .card {
      width: calc(100% / 3 - 30px);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 15px 30px 15px;

      @include media-lg {
        width: calc(100% / 2 - 30px);
      }

      @include media-sm {
        width: 100%;
      }

      .img-wrapper {
        width: 70%;
        position: relative;
        margin-bottom: 40px;
        padding-top: 70%;

        @include media-xs {
          width: 100%;
          padding-top: 100%;
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          @include objectFit(cover);
        }
      }

      figcaption {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        .title {
          position: relative;
          margin-bottom: 30px;
          color: $color-sub-title;
          @include fontSize($fs-sub-title);
          font-family: $pavanam;
          text-transform: uppercase;
          text-align: center;
  
          &::after {
            content: '';
            width: 70%;
            height: 3px;
            position: absolute;
            bottom: -10px;
            left: 15%;
            background-image: url('/src/img/decoration-shape-border-grey.png');
            background-position: center;
          }
        }
  
        .description {
          color: $color-sub-description;
          @include fontSize($fs-sub-description, $fs-sub-description-md, $fs-sub-description-xs);
          font-family: $open-sans;
          text-align: center;
        }
      }
    }
  }
}