@import 'src/scss/partials/_media-queries';

.testimonials {
  width: 100%;
  background-color: rgb(93, 189, 177);
}

.testimonials-wrapper {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 50px 80px;

  @include media-xs {
    padding: 50px 15px 80px 15px;
  }

  .title {
    max-width: 800px;
    margin: 0 auto;
    font-size: 48px;
    font-family: 'Pavanam', sans-serif;
    text-transform: uppercase;
    text-align: center;

    @include media-xs {
      font-size: 44px;
    }
  }

  .quotes {
    width: 50px;
    position: relative;
    margin: -15px auto 0 auto;
    font-size: 90px;
    text-align: center;

    &::before {
      content: '';
      width: 108px;
      height: 3px;
      position: absolute;
      top: 32px;
      left: -115px;
      background-image: url('/src/img/decoration-shape-border-white.png');
    }

    &::after {
      content: '';
      width: 108px;
      height: 3px;
      position: absolute;
      top: 32px;
      right: -115px;
      background-image: url('/src/img/decoration-shape-border-white.png');
    }
  }

  .list-of-testimonials {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -40px;
    list-style-type: none;
    overflow: hidden;

    li {
      width: 100%;
    }

    li + li {
      position: absolute;
      transform: translateX(100%);
    }

    .next-slide-show {
      position: static;
      animation: next-slide-show 1s ease-in-out 1;
      animation-fill-mode: forwards;
    }

    .next-slide-hide {
      position: absolute;
      animation: next-slide-hide 1s ease-in-out 1;
      animation-fill-mode: forwards;
    }

    .prev-slide-show {
      position: static;
      animation: prev-slide-show 1s ease-in-out 1;
      animation-fill-mode: forwards;
    }

    .prev-slide-hide {
      position: absolute;
      animation: prev-slide-hide 1s ease-in-out 1;
      animation-fill-mode: forwards;
    }

    .testimonial {
      max-width: 800px;
      margin: 0 auto 20px auto;
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
  
      @include media-xs {
        font-size: 26px;
      }
    }

    .author {
      max-width: 600px;
      margin: 0 auto;
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
  
      @include media-md {
        font-size: 16px;
      }
  
      @include media-xs {
        font-size: 18px;
      }
    }
  }

  .btn {
    width: 50px;
    height: 50px;
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;

    @include media-xs {
      width: 40px;
      height: 40px;
    }

    &:hover {
      svg {
        fill: rgba(255, 255, 255, 1);
      }
    }

    svg {
      fill: rgba(255, 255, 255, 0.7);

      -webkit-transition: fill .2s ease-in-out;
      -moz-transition: fill .2s ease-in-out;
      -ms-transition: fill .2s ease-in-out;
      -o-transition: fill .2s ease-in-out;
      transition: fill .2s ease-in-out;
    }
  }

  .btn-prev {
    top: calc(50% - 25px);
    left: 15px;

    @include media-xs {
      top: auto;
      bottom: 15px; 
      left: calc(50% - 45px);
    }
  }

  .btn-next {
    top: calc(50% - 25px);
    right: 15px;

    @include media-xs {
      top: auto;
      bottom: 15px; 
      right: calc(50% - 45px);
    }
  }
}

@keyframes next-slide-show {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes next-slide-hide {
  from {
    opacity: 1;
    transform: translateX(0%);
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes prev-slide-show {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes prev-slide-hide {
  from {
    opacity: 1;
    transform: translateX(0%);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}