@import 'src/scss/partials/_mixins';
@import 'src/scss/partials/_variables';
@import 'src/scss/partials/_media-queries';

.testimonials {
  width: 100%;
  background-color: #5dbdb1;
}

.testimonials-wrapper {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 50px 80px;

  @include media-xs {
    padding: 50px 15px 80px 15px;
  }

  .title {
    max-width: 800px;
    margin: 0 auto;
    @include fontSize($fs-title);
    font-family: $pavanam;
    text-transform: uppercase;
    text-align: center;

    @include media-xs {
      font-size: 44px;
    }
  }

  .quotes {
    width: 50px;
    position: relative;
    margin: -15px auto 0 auto;
    font-size: 90px;
    text-align: center;

    &::before {
      content: '';
      width: 108px;
      height: 3px;
      position: absolute;
      top: 32px;
      left: -115px;
      background-image: url('/src/img/decoration-shape-border-white.png');
    }

    &::after {
      content: '';
      width: 108px;
      height: 3px;
      position: absolute;
      top: 32px;
      right: -115px;
      background-image: url('/src/img/decoration-shape-border-white.png');
    }
  }

  .list-of-testimonials {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -40px;
    list-style-type: none;
    overflow: hidden;

    li {
      width: 100%;
    }

    li + li {
      position: absolute;
      transform: translateX(100%);
    }

    .next-slide-show {
      position: static;
      -webkit-animation: next-slide-show 1s ease-in-out 1;
      animation: next-slide-show 1s ease-in-out 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }

    .next-slide-hide {
      position: absolute;
      -webkit-animation: next-slide-hide 1s ease-in-out 1;
      animation: next-slide-hide 1s ease-in-out 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }

    .prev-slide-show {
      position: static;
      -webkit-animation: prev-slide-show 1s ease-in-out 1;
      animation: prev-slide-show 1s ease-in-out 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }

    .prev-slide-hide {
      position: absolute;
      -webkit-animation: prev-slide-hide 1s ease-in-out 1;
      animation: prev-slide-hide 1s ease-in-out 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }

    .testimonial {
      max-width: 800px;
      margin: 0 auto 20px auto;
      @include fontSize(18px, 24px);
      font-family: $open-sans;
      text-align: center;
    }

    .author {
      max-width: 600px;
      margin: 0 auto;
      @include fontSize($fs-sub-description, $fs-sub-description-md, $fs-sub-description-xs);
      font-family: $open-sans;
      text-align: center;
    }
  }

  .btn {
    width: 50px;
    height: 50px;
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;

    @include media-xs {
      width: 40px;
      height: 40px;
    }

    &:hover {
      svg {
        fill: rgba(255, 255, 255, 1);
      }
    }

    svg {
      fill: rgba(255, 255, 255, 0.7);

      @include transition(fill, .2s, ease-in-out);
    }
  }

  .btn-prev {
    top: calc(50% - 25px);
    left: 15px;

    @include media-xs {
      top: auto;
      bottom: 15px; 
      left: calc(50% - 45px);
    }
  }

  .btn-next {
    top: calc(50% - 25px);
    right: 15px;

    @include media-xs {
      top: auto;
      bottom: 15px; 
      right: calc(50% - 45px);
    }
  }
}

@-webkit-keyframes next-slide-show {
  from {
    opacity: 0;
    @include transform(translateX(100%));
  }

  to {
    opacity: 1;
    @include transform(translateX(0%));
  }
}

@keyframes next-slide-show {
  from {
    opacity: 0;
    @include transform(translateX(100%));
  }

  to {
    opacity: 1;
    @include transform(translateX(0%));
  }
}

@-webkit-keyframes next-slide-hide {
  from {
    opacity: 1;
    @include transform(translateX(0%));
  }

  to {
    opacity: 0;
    @include transform(translateX(-100%));
  }
}

@keyframes next-slide-hide {
  from {
    opacity: 1;
    @include transform(translateX(0%));
  }

  to {
    opacity: 0;
    @include transform(translateX(-100%));
  }
}

@-webkit-keyframes prev-slide-show {
  from {
    opacity: 0;
    @include transform(translateX(-100%));
  }

  to {
    opacity: 1;
    @include transform(translateX(0%));
  }
}

@keyframes prev-slide-show {
  from {
    opacity: 0;
    @include transform(translateX(-100%));
  }

  to {
    opacity: 1;
    @include transform(translateX(0%));
  }
}

@-webkit-keyframes prev-slide-hide {
  from {
    opacity: 1;
    @include transform(translateX(0%));
  }

  to {
    opacity: 0;
    @include transform(translateX(100%));
  }
}

@keyframes prev-slide-hide {
  from {
    opacity: 1;
    @include transform(translateX(0%));
  }

  to {
    opacity: 0;
    @include transform(translateX(100%));
  }
}